<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Blog</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Custom CSS for specific styles */
        /* Ensure images are responsive */
        img {
            max-width: 100%;
            height: auto;
        }

        /* Adjust margins for better spacing */
        .mt-2 {
            margin-top: 10px;
        }

        /* Ensure comments section is scrollable on smaller screens */
        .comments-section {
            max-height: 300px;
            overflow-y: auto;
        }

        /* Justify text alignment */
        .article-body p {
            text-align: justify;
        }
    </style>
</head>

<body>
    <%- include('./partials/nav') %>
    <div class="container mt-4">
        <h2><%= blog.title %></h2>

        <!-- Ensure image takes the width of the container -->
        <div class="row">
            <div class="col-12">
                <img src="<%= blog.coverImageUrl %>" class="img-fluid" alt="Blog Cover Image">
            </div>
        </div>

        <div class="mt-4 article-body">
            <p><%= blog.body %></p>
        </div>

        <div class="mt-4">
            <h5>Thanks for reading this article. This Blog is created by <%= blog.createdBy.fullName %> with &#10084;</h5>
        </div>

        <div class="mt-4">
            <h6 class="mt-2">Comments (<%= comments.length %>)</h6>
            <div class="comments-section">
                <% comments.forEach(comment => { %>
                <div class="mt-2">
                    <pre>By <%= comment.createdBy.fullName %> : <%= comment.content %></pre>
                </div>
                <% }) %>
            </div>
        </div>

    </div>

    <% if (locals.user) { %>
    <div class="container mt-4">
        <h5>Comment</h5>
        <form action="/blog/comment/<%= blog._id %>" method="post">

            <div class="form-group">
                <label for="comment">Add your comment here:</label>
                <input type="text" name="content" class="form-control" id="comment"
                    placeholder="Add your comment here" required>
            </div>

            <button type="submit" class="btn mb-3 btn-primary">Submit</button>
        </form>
    </div>
    <% } %>

    <%- include('./partials/scripts') %>
</body>

</html>
